.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.b {
  border: #FF900E 2px solid;
}

nav {
  display: flex;
  justify-content: space-around;
  gap: 20%;
  align-items: center;
  padding-top: 30px;
}

ul {
  display: flex;
}

nav ul li {
  list-style: none;
  padding: 0px 30px;
  font-weight: 400;
}

nav h3 {
  font-size: xx-large;
}

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 300px;
}

.section1 button,
.btn {
  padding: 10px 15px;
  border-radius: 7px;
  background-color: #FF900E;
  color: white;
  font-weight: 600;
  border: none;
}

.btn {
  width: 40%;
}

.section1 h1 {
  font-weight: 800;
  text-align: center;
  font-size: xx-large;
}

.banner {
  display: flex;
  justify-content: center;
}

.banner img {
  width: 80%;
  margin-bottom: 30px;
}

.bg-color {
  background-color: #ff8f0e13;
}

.quick-list,
.para {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.445);
}

.our {
  font-weight: 600;
}

.feature-font {
  color: #FF900E;
}

.features1 h1 {
  font-size: xx-large;
}

.section2 {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.features1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.section3 {
  display: flex;
  max-width: 80%;
  margin: 100px auto;
  gap: 100px;
}

.experience {
  width: 300px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  background-color: #FF900E;
  color: white;
  font-size: x-large;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  bottom: -20px;
  left: -20px;
}

.experience1 {
  font-size: medium;
}

.architect1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.architect1 {
  position: relative;
}

.feature2 {
  font-size: xx-large;
  border-left: 5px solid #FF900E;
  padding: 10px;
}

.section3-div {
  padding: 0px 30px;
}

.border {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.208);
  border-radius: 10px;
  padding: 20px 20px;
}

.section4-div {
  margin-left: 100px;
}

.section4-div2 {
  display: flex;
  justify-content: space-around;
  margin: 50px 0px 50px 100px;
}

.section4-div2 img {
  display: flex;
}

.border1 {
  border: #FF900E 1px solid;
  display: flex;
  flex-direction: column;
  padding: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.border1 img {
  width: 50px;
  height: 50px;
}
footer h1{  font-weight: 800;
  text-align: center;
  font-size: xx-large;}
  footer p{display: flex;justify-content: center;text-align: center;}
  footer img{filter: grayscale(100%);}
  .footer{display: flex;justify-content: space-around;margin: 50px 30px;}
  .rights{background-color: #ff8f0e2a;margin: 100px 90px;height: 100px;align-items: center;display: flex;justify-content: center;}








  @media screen and (max-width:576px) {
  nav {
    display: flex;
    flex-direction: column;
  }

  .section1 {
    margin: 0;
  }

  nav {
    gap: 0;
  }

  nav ul li {
    padding: 10px;
  }

  .section1 p {
    padding: 0 10px;
    margin: 10px 0px;
  }

  .banner {
    margin: 50px 0px;
  }

  .section1 button {
    margin: 30px 0px;
  }

  .features {
    grid-template-columns: repeat(1, 1fr);
  }

  .section2 {
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
    max-width: 100%;
  }

  .section3 {
    flex-direction: column;
  }

  .section3-div {
    padding: 0px;
  }

  .experience {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    background-color: #FF900E;
    color: white;
    font-size: xx-small;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    bottom: -20px;
    left: -20px;
  }

  .section2 img,
  .banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .display {
    display: none;
  }

  .section4-div2 {
    flex-direction: column;
    margin:0;
  }
  .section4-div{margin:10px ;} .border1{margin: 20px 0px;} .footer{flex-direction: column;gap: 100px;} .rights{height: auto;text-align: center;}footer img{width: 50%;margin: 0 auto;}.section4-div2,.section4-div{margin: 20px 50px;}
}